<section>
  <div class="container-fluid bg-secondary text-white">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2 m-4">
    
        <h2>What's new <br>on CoWIN ?</h2>
      </div>
      <div class="col-8 mt-5">
        <h5>You can download your vaccination certificate for International Travel</h5>
        <hr>
        <h5>You can register as a foreign national on CoWIN and get vaccinated</h5>
        <hr>
        <h5>Citizens can link their passports to CoWIN issued certificate by raising <br>
          an issue in their accounts</h5>
        <hr>
        <h5>Introducing “Raise an Issue” to CoWIN for all your vaccine certificate <br>
          and account related issues</h5>
        <hr>
        <h5>Check your eligibility for Dose 2 by signing in on CoWIN with your <br>
          registered mobile number</h5>
      </div>
    </div>
  </div>
</section>




<!-- <div class="container-fluid bg-secondary text-white">
  <div class="row p-4">
    <div class="col-3"></div>
      <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
          CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
    </div>
  </div>
</div> -->