<section>
    <div class="container-fluid bg-dark text-white">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>India is running the world’s largest vaccination drive</h1>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-6"></div>
            <div class="col-2">
                Vaccines Delivered<br>
                <h3>1,09,01,58,918+</h3>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-6"></div>
            <div class="col-2">
                 Citizens Fully Vaccinated<br>
                <h3> 34.55 Crore +</h3>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-6"></div>
            <div class="col-2">
                % of Fully Vaccinated<br>
                <h3> 46.51%</h3>
            </div>
        </div>

        <div class="row  mt-4 ">
            <div class="col-6"></div>
            <div class="col-4">
                <button class="bg-dark text-white m-4">View Vaccination Dashboard</button>
            </div>
        </div>
    </div> 
</section>


<app-ourpartner></app-ourpartner>
