<!-- Navbar-1 -->
<div class="sticy-top">
    <div class="">
        <div class="row">
            <div class="navbar-1">
                <nav class="navbar navbar-expand-sm text-white bg-dark">
                    <ul class="nav navbar-nav">
                        <li class="nav-item px-3">
                            <a class="btn btn-link" routerLink="home/landing">Home</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="btn btn-link" routerLink="admin/dashboard">Administrator</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="btn btn-link" routerLink="dashboard/vaccinationtrend">Dashboard</a>
                        </li>

                        <div class="skip">
                        <li>
                            <a class="btn btn-link mx-1" routerLink="#">Skip To Main Content</a>
                        </li>
                        </div>

                        <button class="bg-dark text-white mx-2"><strong>A+</strong></button>
                        <button class="bg-dark text-white mx-2"><strong>A</strong></button>
                        <button class="bg-dark text-white mx-2"><strong>A-</strong></button>
                        <select class="bg-dark text-white">
                            <option>English</option>
                            <option>Hindi</option>
                            <option>Marathi</option>
                            <option>Malayalam</option>
                            <option>Panjabi</option>
                            <option>Telugu</option>
                            <option>Gujrati</option>
                            <option>Assamese</option>
                            <option>Bengali</option>
                            <option>Kannada</option>
                            <option>Odia</option>
                            <option>Tamil</option>
                        </select>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Navbar-2 -->
    <nav class="navbar navbar-expand-sm text-white bg-dark">
        <div class="navbar-2">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="nav-item p-2 m-2">
                        <img src="../assets/Images/new-logo.svg" alt="">
                    </li>

                    
                    <li class="nav-item admin">
                        <select class="bg-dark text-white p-2 mt-3">
                            <option> Administrator</option>
                            <option>Register Members</option>
                            <option>Search Vaccination Center</option>
                            <option>Book Vaccination Slots </option>
                            <option>Manage Appointments</option>
                            <option>Download Certificate</option>
                        </select>
                    </li>
                    <div class="reg-but">
                        <li class="nav-item px-3 mt-3">
                            <button class="btn btn-link" routerLink="registerlogin/register">Register/Login</button>
                        </li>
                    </div>





                    <!-- <button class="btn-reg btn btn-outline-white  mx-3 mt-3  bg-dark text-white">Register/Sign
                        In</button> -->
                </ul>
            </div>
        </div>
    </nav>
</div>