<div class="footer">
    <div class="container-fluid">
        <div class="bg-dark text-white">
            <div class="row">
                <div class="col-1"> </div>
                <div class="col-2  mt-4">
                    <h6>Vaccination Services</h6><br>
                    <p> Register Members</p>
                    <p>Search Vaccination Centers</p>
                    <p>Book Vaccination Slots</p>
                    <p>Manage Appointment</p>
                    <p>Download Certificate</p>
                </div>
                <div class="col-2 mt-4">
                    <h6>Platforms</h6><br>
                    <p> CoWIN International</p>
                    <p> Vaccinator</p>
                    <p>Department Login</p>
                    <p>Verify Certificates</p>
                    <p> Vaccination Statistics</p>
                </div>
                <div class="col-2 mt-4">
                    <h6>Resources</h6><br>
                    <p>How To Get Vaccinated</p>
                    <p>Dos and Don'ts</p>
                    <p>Overview</p>
                    <p>API Guidelines</p>
                    <p>Grievance Guidelines</p>
                </div>
                <div class="col-2 mt-4 border-right">
                    <h6>Support</h6>
                    <p>Frequently Asked Questions</p>
                    <p>Certificate Corrections</p>
                </div>
                <div class="col-2 mt-4">
                    <h6>Contact Us</h6>
                    <p>Helpline: +91-11-23978046 (Toll Free - 1075 )</p>

                    <p>Technical Helpline: 0120 4473222</p>
                </div>
            </div> <br><br>

            <div class="row pb-4">
                <div class="col-1"> </div>
                <div class="col-7"> Copyright © 2021 CoWIN. All Rights Reserved </div>
                <div class="col-2"> Terms of Service </div>
                <div class="col-2"> Privacy Policy</div>
            </div>
        </div>
    </div>
</div>