
    <!-- <p-tabView>
        <p-tabPanel header="By District">
            <form>
                <select class="selection" (change)="onStateSelect($event)" name="STATE" [(ngModel)]="selectedState">
                    <option *ngFor="let st of UserState" [ngValue]="st.state_id">{{st.state_name}}</option>
                </select>

                <select class="selection">
                    <option *ngFor="let dt of userDistrict">{{dt.district_name}}</option>
                </select>
            </form>
        </p-tabPanel>

        <p-tabPanel header="By PIN">
        </p-tabPanel>
    </p-tabView>  -->
    

    <div class="container-fluid"> 
        <div class="row ser">
            <div class="col py-3 px-5">
                <h2 style="font-weight: bold;">Search Your Nearest Vaccination Center</h2><br>
                <h4>Get a preview list of the nearest centers and check availability of vaccination slots</h4><br>
                <!-- <button type="button"  href="" class="btn btn-outline-primary srs">Login to book your slot</button><br><br> -->
                <a class="btn btn-outline-primary"  routerLink="" style="margin-left: 30px;">Login to book your slot</a><br><br>
    
                <!-- <a class=""  routerLink="">By District  </a>
                <a class=""  routerLink="" style="margin-left: 20px;">By PIN  </a>
                <a class=""  routerLink="" style="margin-left: 20px;">On the Map  </a> -->
                <p-tabView class="primeng">
                    <p-tabPanel header="By District">
                        <form>      
                <select class="selection" (change)="onStateSelect($event)" name="STATE" [(ngModel)]="selectedState">
                    <option  *ngFor="let st of UserState" [ngValue]="st.state_id">{{st.state_name}}</option>
                </select>
            
                <select class="selection">
                    <option *ngFor="let dt of userDistrict" >{{dt.district_name}}</option>
                </select>
    
                <input class="" type="search" placeholder="Search" style="margin-left: 20px;">
                <button class="btn btn-outline-success" type="submit" style="margin-left: 20px;">Search</button>
            </form>
            </p-tabPanel>
         

             
            <p-tabPanel header="By PIN">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Enter Your PIN" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </p-tabPanel>
        </p-tabView>
        </div>
        </div>


<app-whatsnew></app-whatsnew>