<section>
    <div class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-12">
                <h1>Getting Vaccinated in 3 Easy Steps</h1>
            </div>
        </div>

        <div class="row m-5">
            <div class="col-2"></div>
            <div class="col-3">
                   <h5 class="text-center">1</h5>
                   <h5 class="text-center"> Book an Appointment On<br>
                    CoWIN or Walk Into Any<br>
                    Vaccination Center
                </h5>
            </div>
            <div class="col-3">
                    <h5 class="text-center">2</h5>
                   <h5 class="text-center"> Get Your Vaccination<br>
                    Safely at the Time of Your<br>
                    Appointment
                </h5>
            </div>

            <div class="col-3">
                    <h5 class="text-center">3</h5>
                   <h5 class="text-center"> Download Your Vaccination<br>
                    Certificate from CoWIN<br>
                    and Wait for Dose #2
                </h5>
            </div>
        </div>

          <div class="row m-4">
              <div class="col-2"></div>
              <div class="col-3">
                <div class="card" style="width: 20rem;">
                    <img src="../../../assets/Images/vaccinated_img1.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title">How To Book Your Appointment on CoWIN</h5>
                    </div>
                  </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 20rem;">
                    <img src="../../../assets/Images/vaccinated_img2.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title">Dos and Don'ts For Getting Vaccinated</h5>
                    </div>
                  </div>
              </div>
              <div class="col-3">
                <div class="card" style="width: 20rem;">
                    <img src="../../../assets/Images/vaccinated_img3.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <h5 class="card-title">Download Your Vaccination Certificate</h5>
                    </div>
                  </div>
              </div>
          </div>

    </div>
</section><br><br>