<!-- <p>vaccinationtrend works!</p> -->


<div class="container px-4 mt-4 mb-4">
    <div class="row gx-5">
        <div class="col-3">
            <div class="p-3 border bg-light">Registration Today </div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">Vaccination Today</div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">Partially Vaccinated Today</div>
        </div>
        <div class="col-3">
            <div class="p-3 border bg-light">Fully Vaccinated Today</div>
        </div>
    </div>
</div>




<div class="card" style="margin:70px;">
    <h5>Basic</h5>
    <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
</div>
