<div class="vaccination">
    <div class="container">
        <div class="vaccine">
            <div class="row">
                <div class="col-6">
                    <img src="../../../assets/Images/vaccine.svg" width="40px" alt="">&nbsp;
                    Total Vaccination Doses <br>
                    <h3 class="px-5">1,09,05,23,083</h3>
                    <h5>India marches beyond 1 Billion Vaccine doses</h5>
                     <p class="text-right">View More</p>
                </div>
                <div class="col-6">
                    <img src="../../../assets/Images/syringe.png" width="40px" alt="">
                    Vaccination Done Today &nbsp; &nbsp; <img src="../../../assets/Images/download.png" alt="">
                    <h3 class="px-5">54,49,004</h3>
                    <h5>India sets world record of 2.5 Cr+ Vaccinations in a day</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<app-searchvaccinationpoint></app-searchvaccinationpoint>