<section>
    <div class="container-fluid m-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <h1>Raise An Issue</h1><br><br>
                <p> Raise an issue or get solutions to your CoWIN account and <br>
                    vaccination certificate related issues instantly..</p>
                    <a href="">Certificate Corrections</a><br>
                <a href="">Add Passport</a><br>
                <a href="">Report Unknown Members</a><br>
                <a href="">Merge Certificates</a><br>
                <a href="">Transfer Member To New Number</a>
                
            </div>
          
            <div class="col-4">
                <img src="../../../assets/Images/new-callcenter-amico.svg" width="400px" alt="">
            </div>
        </div>



        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
               
                
            </div>
           
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <!-- <a href="">Certificate Corrections</a> -->
            </div>
            <div class="col-3">
                <!-- <a href="">Add Passport</a> -->
            </div>
        </div><br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <!-- <a href="">Report Unknown Members</a> -->
            </div>
            <div class="col-3">
                <!-- <a href="">Merge Certificates</a> -->
            </div>
        </div><br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-6">
                <!-- <a href="">Transfer Member To New Number</a> -->
            </div>
        </div>
    </div>
</section><br><br><br>

<app-stepstovaccinate></app-stepstovaccinate>